workflows/TutorBot_-_Portal_Tutor.json
{
  "name": "TutorBot - Portal Tutor",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "6fcc2e6c-10cd-4b16-8e8d-5e0b12f388f7",
      "name": "Disparador de Telegram Tutor",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1296,
        688
      ],
      "webhookId": "b210363b-6dc8-43be-bab7-6602f761799c",
      "credentials": {
        "telegramApi": {
          "id": "JZ6oVVsfs3AATIC3",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $json.message;\nconst chat_id = msg.chat ? msg.chat.id : null;\nconst from = msg.from || {};\nconst texto = (msg.text || '').trim();\nconst nombre = [from.first_name, from.last_name].filter(Boolean).join(' ');\nconst telegram_user = String(from.id || chat_id || '');\nreturn [{ json: { chat_id, texto, nombre, telegram_user } }];"
      },
      "id": "66dbc566-35f2-4841-a73e-2ad23d27ecf7",
      "name": "Normalizar Mensaje Tutor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        688
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HHuLoi-cLJtpQ9evuGu0qHDU9dBfRi_6eZsmCtnF2yk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "SESSIONS_TUTOR",
          "mode": "name"
        },
        "options": {}
      },
      "id": "00496c38-dcf5-4a6e-8f82-5f254065817c",
      "name": "Leer Sesion Tutor",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -816,
        688
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dbVVEcpRhIfV67L4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $('Normalizar Mensaje Tutor').first().json;\nconst filas = $input.all();\nconst ses = filas.length ? filas[0].json : { pantalla_actual: '', paso_actual: '', datos_parciales: '{}' };\nlet datos = {};\ntry { datos = JSON.parse(ses.datos_parciales || '{}'); } catch (e) { datos = {}; }\n\nconst texto = (d.texto || '').trim();\nconst lower = texto.toLowerCase();\nconst idTutorSesion = datos.id_tutor || '';\nconst nombreTutorSesion = datos.nombre_tutor || '';\n\nlet ruta;\n\nif (lower === '/salir' || lower === '/cambiartutor') {\n  ruta = 'salir';\n} else if (!idTutorSesion) {\n  if (ses.pantalla_actual === 'esperando_id_tutor') {\n    ruta = 'validar_id';\n  } else {\n    ruta = 'pedir_id';\n  }\n} else if (ses.pantalla_actual === 'esperando_id_confirmar') {\n  ruta = 'confirmar_id';\n} else if (ses.pantalla_actual === 'esperando_id_finalizar') {\n  ruta = 'finalizar_id';\n} else if (ses.pantalla_actual === 'esperando_id_cancelar') {\n  ruta = 'cancelar_id';\n} else if (lower === '/mistutorias' || texto === '1') {\n  ruta = 'ver_tutorias';\n} else if (lower === '/confirmar' || texto === '2') {\n  ruta = 'pedir_confirmar';\n} else if (lower === '/finalizar' || texto === '3') {\n  ruta = 'pedir_finalizar';\n} else if (lower === '/cancelar' || texto === '4') {\n  ruta = 'pedir_cancelar';\n} else {\n  ruta = 'menu';\n}\n\nreturn [{ json: { ...d, texto, ruta, id_tutor: idTutorSesion, nombre_tutor: nombreTutorSesion } }];"
      },
      "id": "6e63f6d2-ec73-48ff-bcea-6d0385ab67bb",
      "name": "Motor de Estados Tutor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        688
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a223f7b8-a90b-4833-b701-85bc5f57c45c",
                    "leftValue": "={{ $json.ruta }}",
                    "rightValue": "pedir_id",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pedir_id"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4b0630cd-3450-49b3-ae56-0463b69999b7",
                    "leftValue": "={{ $json.ruta }}",
                    "rightValue": "validar_id",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "validar_id"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "79bd3e8e-c2d0-411a-a562-45844bbf64c7",
                    "leftValue": "={{ $json.ruta }}",
                    "rightValue": "menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "menu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a8eb2d38-1406-4822-8033-e69cd5dea5cc",
                    "leftValue": "={{ $json.ruta }}",
                    "rightValue": "ver_tutorias",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ver_tutorias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "14610700-a4db-4b2e-a9e8-02da33c6b8bf",
                    "leftValue": "={{ $json.ruta }}",
                    "rightValue": "pedir_confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pedir_confirmar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "18a1e419-f05a-40cc-a39f-c52d6b6e5b41",
                    "leftValue": "={{ $json.ruta }}",
                    "rightValue": "confirmar_id",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "confirmar_id"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f864a42b-ef56-4316-a8c3-a41a7fddca0b",
                    "leftValue": "={{ $json.ruta }}",
                    "rightValue": "pedir_finalizar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pedir_finalizar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "65a54cb8-be65-472d-97a6-2e0a4f60675d",
                    "leftValue": "={{ $json.ruta }}",
                    "rightValue": "finalizar_id",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "finalizar_id"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c99d39d6-059a-4478-ac17-6a97dbbfce85",
                    "leftValue": "={{ $json.ruta }}",
                    "rightValue": "pedir_cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pedir_cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d2cb6c7e-8791-4bc6-b3c2-5e50ee2bc558",
                    "leftValue": "={{ $json.ruta }}",
                    "rightValue": "cancelar_id",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar_id"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f1a2b3c4-1111-2222-3333-444455556666",
                    "leftValue": "={{ $json.ruta }}",
                    "rightValue": "salir",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "salir"
            }
          ]
        },
        "options": {
          "fallbackOutput": 0
        }
      },
      "id": "abc964a2-7ab4-45d5-a95e-f215dfb5b563",
      "name": "Rutas de Tutor",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -288,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nreturn [{ json: { chat_id: d.chat_id, telegram_user: d.telegram_user,\n  respuesta: '👋 ¡Hola! Para identificarte como tutor, escribe tu ID de tutor (ejemplo: T001).',\n  pantalla_actual: 'esperando_id_tutor', paso_actual: 'id', datos_parciales: '{}' } }];"
      },
      "id": "70064e77-38a0-4cad-a098-728f61661bd8",
      "name": "Pedir ID Tutor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HHuLoi-cLJtpQ9evuGu0qHDU9dBfRi_6eZsmCtnF2yk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "TUTORES",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_tutor",
              "lookupValue": "={{ $json.texto }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3f3ed161-adeb-43c1-b072-db6443955992",
      "name": "Leer Tutor Por ID",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        192
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dbVVEcpRhIfV67L4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $('Motor de Estados Tutor').first().json;\nconst filas = $input.all();\nif (!filas.length) {\n  return [{ json: { ...d, idValido: false, motivo: 'No encontré ningún tutor con ese ID. Verifica que sea correcto (ejemplo: T001) e inténtalo de nuevo.' } }];\n}\nconst t = filas[0].json;\nif (t.estado !== 'Activo') {\n  return [{ json: { ...d, idValido: false, motivo: 'Ese tutor no está activo en el sistema. Contacta al coordinador académico.' } }];\n}\nreturn [{ json: { ...d, idValido: true, id_tutor: t.id_tutor, nombre_tutor: t.nombre } }];"
      },
      "id": "aa7f7648-6fb2-4a51-bf79-bad79bca741e",
      "name": "Verificar ID Tutor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e57602c2-8a22-4bfa-8cb2-672f8dd401c0",
              "leftValue": "={{ $json.idValido }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2dc18573-9f26-4637-9afb-d9405add48c1",
      "name": "Es ID Valido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst texto = `✅ ¡Hola ${d.nombre_tutor}! Quedaste identificado como tutor ${d.id_tutor}.\n\nElige una opción respondiendo con el número:\n\n1️⃣ Ver mis tutorías\n2️⃣ Confirmar una tutoría\n3️⃣ Finalizar una tutoría\n4️⃣ Cancelar una tutoría\n\nTambién puedes usar /mistutorias, /confirmar, /finalizar o /cancelar.`;\nreturn [{ json: { chat_id: d.chat_id, telegram_user: d.telegram_user, respuesta: texto,\n  pantalla_actual: 'menu', paso_actual: '',\n  datos_parciales: JSON.stringify({ id_tutor: d.id_tutor, nombre_tutor: d.nombre_tutor }) } }];"
      },
      "id": "d9f3a2d2-1eda-49f0-9819-dec12e7251dd",
      "name": "Guardar Identificacion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nreturn [{ json: { chat_id: d.chat_id, telegram_user: d.telegram_user,\n  respuesta: `⚠️ ${d.motivo}`, pantalla_actual: 'esperando_id_tutor', paso_actual: 'id', datos_parciales: '{}' } }];"
      },
      "id": "369860f4-a874-40fc-acb1-ee1674f7a9af",
      "name": "Reintentar ID Tutor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst texto = `👋 Hola ${d.nombre_tutor}! Elige una opción respondiendo con el número:\n\n1️⃣ Ver mis tutorías\n2️⃣ Confirmar una tutoría\n3️⃣ Finalizar una tutoría\n4️⃣ Cancelar una tutoría\n\nTambién puedes usar /mistutorias, /confirmar, /finalizar o /cancelar.`;\nreturn [{ json: { chat_id: d.chat_id, telegram_user: d.telegram_user, respuesta: texto,\n  pantalla_actual: 'menu', paso_actual: '',\n  datos_parciales: JSON.stringify({ id_tutor: d.id_tutor, nombre_tutor: d.nombre_tutor }) } }];"
      },
      "id": "0cfcc9b7-94bc-4e68-a434-ecdf12d0b3d6",
      "name": "Menu Tutor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        368
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HHuLoi-cLJtpQ9evuGu0qHDU9dBfRi_6eZsmCtnF2yk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "TUTORIAS",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_tutor",
              "lookupValue": "={{ $json.id_tutor }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c4b06b21-0877-4802-83cd-3d5b1d0c295b",
      "name": "Leer Mis Tutorias Tutor",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        528
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dbVVEcpRhIfV67L4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $('Motor de Estados Tutor').first().json;\nconst filas = $input.all().map(i => i.json);\nconst activas = filas.filter(f => ['Asignada', 'Confirmada'].includes(f.estado));\nlet texto;\nif (!activas.length) {\n  texto = '📭 No tienes tutorías activas asignadas actualmente.';\n} else {\n  texto = '📚 Tus tutorías:\\n\\n' + activas.map(t =>\n    `• ID ${t.id_tutoria} — ${t.materia}\\n  📅 ${t.fecha} 🕐 ${t.hora}\\n  Estado: ${t.estado}`\n  ).join('\\n\\n');\n}\nreturn [{ json: { chat_id: d.chat_id, telegram_user: d.telegram_user, respuesta: texto,\n  pantalla_actual: 'menu', paso_actual: '',\n  datos_parciales: JSON.stringify({ id_tutor: d.id_tutor, nombre_tutor: d.nombre_tutor }) } }];"
      },
      "id": "2dbd64d1-ca37-47c9-9c26-b5016e778226",
      "name": "Formatear Mis Tutorias",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nreturn [{ json: { chat_id: d.chat_id, telegram_user: d.telegram_user,\n  respuesta: '✏️ Escribe el ID de la tutoría que quieres CONFIRMAR (usa la opción 1 para ver tus tutorías y sus IDs).',\n  pantalla_actual: 'esperando_id_confirmar', paso_actual: 'id',\n  datos_parciales: JSON.stringify({ id_tutor: d.id_tutor, nombre_tutor: d.nombre_tutor }) } }];"
      },
      "id": "3aadd6f6-6178-41a7-8f11-df5329460042",
      "name": "Pedir ID Confirmar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        688
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HHuLoi-cLJtpQ9evuGu0qHDU9dBfRi_6eZsmCtnF2yk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "TUTORIAS",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_tutoria",
              "lookupValue": "={{ $json.texto }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d47ec530-473b-4ec0-b1dc-4d191a1be1c5",
      "name": "Leer Tutoria Confirmar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        848
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dbVVEcpRhIfV67L4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $('Motor de Estados Tutor').first().json;\nconst filas = $input.all();\nif (!filas.length) {\n  return [{ json: { ...d, valido: false, motivo: 'No encontré ninguna tutoría con ese ID. Verifica el número e intenta de nuevo.' } }];\n}\nconst t = filas[0].json;\nif (String(t.id_tutor) !== String(d.id_tutor)) {\n  return [{ json: { ...d, valido: false, motivo: 'Esa tutoría no está asignada a ti.' } }];\n}\nif (t.estado !== 'Asignada') {\n  return [{ json: { ...d, valido: false, motivo: `Esa tutoría está en estado \"${t.estado}\", no se puede confirmar.` } }];\n}\nreturn [{ json: { ...d, valido: true, tutoria: t } }];"
      },
      "id": "96b503a4-d13b-46ac-9147-ac46503b8a54",
      "name": "Validar Confirmar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        848
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "de23e0a3-35f0-46f2-9991-dd3e8a66c6d7",
              "leftValue": "={{ $json.valido }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7c054c95-a334-4c96-a814-e01d4142e871",
      "name": "Es Valido Confirmar",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        848
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HHuLoi-cLJtpQ9evuGu0qHDU9dBfRi_6eZsmCtnF2yk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "TUTORIAS",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_tutoria": "={{ $('Validar Confirmar').first().json.tutoria.id_tutoria }}",
            "estado": "Confirmada"
          },
          "matchingColumns": [
            "id_tutoria"
          ],
          "schema": [
            {
              "id": "id_tutoria",
              "displayName": "id_tutoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fa029f65-822a-4e3b-9c1f-0cc76b082789",
      "name": "Marcar Confirmada",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        720,
        768
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dbVVEcpRhIfV67L4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $('Validar Confirmar').first().json;\nconst t = d.tutoria;\nreturn [{ json: {\n  chat_id: d.chat_id, telegram_user: d.telegram_user,\n  respuesta: `✅ Confirmaste la tutoría #${t.id_tutoria} (${t.materia} el ${t.fecha} a las ${t.hora}).`,\n  pantalla_actual: 'menu', paso_actual: '',\n  datos_parciales: JSON.stringify({ id_tutor: d.id_tutor, nombre_tutor: d.nombre_tutor }),\n  telegram_estudiante: String(t.id_estudiante || ''),\n  aviso_estudiante: `✅ Tu tutor confirmó la tutoría de ${t.materia} el ${t.fecha} a las ${t.hora}.`\n} }];"
      },
      "id": "0125e095-c441-4c30-b490-2d913e595910",
      "name": "Respuesta Confirmar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        768
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_estudiante }}",
        "text": "={{ $json.aviso_estudiante }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "37eb9a4e-59f1-4dd3-92b8-7b9ae3b4224d",
      "name": "Notificar Estudiante Confirmada",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        688
      ],
      "webhookId": "dda44287-ac69-4a33-a1c4-cab5ab053177",
      "credentials": {
        "telegramApi": {
          "id": "JZ6oVVsfs3AATIC3",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nreturn [{ json: { chat_id: d.chat_id, telegram_user: d.telegram_user,\n  respuesta: `⚠️ ${d.motivo}`, pantalla_actual: 'menu', paso_actual: '',\n  datos_parciales: JSON.stringify({ id_tutor: d.id_tutor, nombre_tutor: d.nombre_tutor }) } }];"
      },
      "id": "ffb3ecd8-804e-4617-8e44-af32b1b200c4",
      "name": "Preparar Error Confirmar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        944
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nreturn [{ json: { chat_id: d.chat_id, telegram_user: d.telegram_user,\n  respuesta: '✏️ Escribe el ID de la tutoría que quieres marcar como FINALIZADA.',\n  pantalla_actual: 'esperando_id_finalizar', paso_actual: 'id',\n  datos_parciales: JSON.stringify({ id_tutor: d.id_tutor, nombre_tutor: d.nombre_tutor }) } }];"
      },
      "id": "584d7d85-5b14-44ff-b1a2-283c0cb1b220",
      "name": "Pedir ID Finalizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        1040
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HHuLoi-cLJtpQ9evuGu0qHDU9dBfRi_6eZsmCtnF2yk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "TUTORIAS",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_tutoria",
              "lookupValue": "={{ $json.texto }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9f5bd5bc-c537-4641-91dc-879b5ad63285",
      "name": "Leer Tutoria Finalizar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        1200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dbVVEcpRhIfV67L4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $('Motor de Estados Tutor').first().json;\nconst filas = $input.all();\nif (!filas.length) {\n  return [{ json: { ...d, valido: false, motivo: 'No encontré ninguna tutoría con ese ID.' } }];\n}\nconst t = filas[0].json;\nif (String(t.id_tutor) !== String(d.id_tutor)) {\n  return [{ json: { ...d, valido: false, motivo: 'Esa tutoría no está asignada a ti.' } }];\n}\nif (!['Asignada', 'Confirmada'].includes(t.estado)) {\n  return [{ json: { ...d, valido: false, motivo: `Esa tutoría está en estado \"${t.estado}\", no se puede finalizar.` } }];\n}\nreturn [{ json: { ...d, valido: true, tutoria: t } }];"
      },
      "id": "ae9b00fe-44da-4835-a792-0474431a8dc0",
      "name": "Validar Finalizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        1200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "58c165ab-6e46-49ec-8478-7e54d246834a",
              "leftValue": "={{ $json.valido }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f12f6abc-8d25-4300-ab34-615b98049b40",
      "name": "Es Valido Finalizar",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        1200
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HHuLoi-cLJtpQ9evuGu0qHDU9dBfRi_6eZsmCtnF2yk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "TUTORIAS",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_tutoria": "={{ $('Validar Finalizar').first().json.tutoria.id_tutoria }}",
            "estado": "Finalizada"
          },
          "matchingColumns": [
            "id_tutoria"
          ],
          "schema": [
            {
              "id": "id_tutoria",
              "displayName": "id_tutoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "917601b0-259e-407f-9d1b-39a5eb8bfb4b",
      "name": "Marcar Finalizada",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        720,
        1120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dbVVEcpRhIfV67L4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HHuLoi-cLJtpQ9evuGu0qHDU9dBfRi_6eZsmCtnF2yk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "DISPONIBILIDAD",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_dispo": "={{ $('Validar Finalizar').first().json.tutoria.id_dispo }}",
            "estado": "Libre"
          },
          "matchingColumns": [
            "id_dispo"
          ],
          "schema": [
            {
              "id": "id_dispo",
              "displayName": "id_dispo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "bdc87915-6b70-4234-a994-8e02b8e2ad6e",
      "name": "Liberar Horario Finalizar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        960,
        1120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dbVVEcpRhIfV67L4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $('Validar Finalizar').first().json;\nconst t = d.tutoria;\nreturn [{ json: {\n  chat_id: d.chat_id, telegram_user: d.telegram_user,\n  respuesta: `🏁 Marcaste como FINALIZADA la tutoría #${t.id_tutoria} (${t.materia}).`,\n  pantalla_actual: 'menu', paso_actual: '',\n  datos_parciales: JSON.stringify({ id_tutor: d.id_tutor, nombre_tutor: d.nombre_tutor }),\n  telegram_estudiante: String(t.id_estudiante || ''),\n  aviso_estudiante: `🏁 Tu tutoría de ${t.materia} del ${t.fecha} fue marcada como finalizada. ¡Gracias por participar!`\n} }];"
      },
      "id": "a319d7a4-ef52-4cf9-b929-2cbd821bab40",
      "name": "Respuesta Finalizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        1120
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_estudiante }}",
        "text": "={{ $json.aviso_estudiante }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "e1349293-7535-45d9-95eb-44734ead84d6",
      "name": "Notificar Estudiante Finalizada",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        1040
      ],
      "webhookId": "d806d408-db7f-4319-83c9-56c7883d0c54",
      "credentials": {
        "telegramApi": {
          "id": "JZ6oVVsfs3AATIC3",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nreturn [{ json: { chat_id: d.chat_id, telegram_user: d.telegram_user,\n  respuesta: `⚠️ ${d.motivo}`, pantalla_actual: 'menu', paso_actual: '',\n  datos_parciales: JSON.stringify({ id_tutor: d.id_tutor, nombre_tutor: d.nombre_tutor }) } }];"
      },
      "id": "a751d414-b9c9-4882-8fc7-0c2c9ef0a334",
      "name": "Preparar Error Finalizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        1280
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nreturn [{ json: { chat_id: d.chat_id, telegram_user: d.telegram_user,\n  respuesta: '✏️ Escribe el ID de la tutoría que quieres CANCELAR.',\n  pantalla_actual: 'esperando_id_cancelar', paso_actual: 'id',\n  datos_parciales: JSON.stringify({ id_tutor: d.id_tutor, nombre_tutor: d.nombre_tutor }) } }];"
      },
      "id": "32b93be6-6729-4f56-8b69-38ac78ca8b67",
      "name": "Pedir ID Cancelar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        1392
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HHuLoi-cLJtpQ9evuGu0qHDU9dBfRi_6eZsmCtnF2yk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "TUTORIAS",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_tutoria",
              "lookupValue": "={{ $json.texto }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8e1cd6eb-503b-465f-a2ee-ac4114f2c868",
      "name": "Leer Tutoria Cancelar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        1552
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dbVVEcpRhIfV67L4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $('Motor de Estados Tutor').first().json;\nconst filas = $input.all();\nif (!filas.length) {\n  return [{ json: { ...d, valido: false, motivo: 'No encontré ninguna tutoría con ese ID.' } }];\n}\nconst t = filas[0].json;\nif (String(t.id_tutor) !== String(d.id_tutor)) {\n  return [{ json: { ...d, valido: false, motivo: 'Esa tutoría no está asignada a ti.' } }];\n}\nif (!['Asignada', 'Confirmada'].includes(t.estado)) {\n  return [{ json: { ...d, valido: false, motivo: `Esa tutoría está en estado \"${t.estado}\", no se puede cancelar.` } }];\n}\nreturn [{ json: { ...d, valido: true, tutoria: t } }];"
      },
      "id": "413cdc46-4d2d-4fe8-b2e0-1e1e00a3972b",
      "name": "Validar Cancelar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        1552
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f711c7dc-e11a-4b18-8c40-4c0d7f3d81a2",
              "leftValue": "={{ $json.valido }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4ba6de29-4a87-4923-a6da-a610d21b873f",
      "name": "Es Valido Cancelar",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        1552
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HHuLoi-cLJtpQ9evuGu0qHDU9dBfRi_6eZsmCtnF2yk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "TUTORIAS",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_tutoria": "={{ $('Validar Cancelar').first().json.tutoria.id_tutoria }}",
            "estado": "Cancelada"
          },
          "matchingColumns": [
            "id_tutoria"
          ],
          "schema": [
            {
              "id": "id_tutoria",
              "displayName": "id_tutoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e37c8c70-9b99-48b2-8435-65693b418156",
      "name": "Marcar Cancelada",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        720,
        1472
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dbVVEcpRhIfV67L4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HHuLoi-cLJtpQ9evuGu0qHDU9dBfRi_6eZsmCtnF2yk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "DISPONIBILIDAD",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_dispo": "={{ $('Validar Cancelar').first().json.tutoria.id_dispo }}",
            "estado": "Libre"
          },
          "matchingColumns": [
            "id_dispo"
          ],
          "schema": [
            {
              "id": "id_dispo",
              "displayName": "id_dispo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b3c26612-547c-4885-a20e-935aafd6fa16",
      "name": "Liberar Horario Cancelar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        960,
        1472
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dbVVEcpRhIfV67L4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $('Validar Cancelar').first().json;\nconst t = d.tutoria;\nreturn [{ json: {\n  chat_id: d.chat_id, telegram_user: d.telegram_user,\n  respuesta: `🚫 Cancelaste la tutoría #${t.id_tutoria} (${t.materia}).`,\n  pantalla_actual: 'menu', paso_actual: '',\n  datos_parciales: JSON.stringify({ id_tutor: d.id_tutor, nombre_tutor: d.nombre_tutor }),\n  telegram_estudiante: String(t.id_estudiante || ''),\n  aviso_estudiante: `🚫 Tu tutor canceló la tutoría de ${t.materia} del ${t.fecha}. Por favor solicita una nueva si la necesitas.`\n} }];"
      },
      "id": "2f4689e7-2e37-47fc-bd4b-2259a16bd48f",
      "name": "Respuesta Cancelar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        1472
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_estudiante }}",
        "text": "={{ $json.aviso_estudiante }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "cc6e7105-d9f4-495c-9aab-355b365c260d",
      "name": "Notificar Estudiante Cancelada",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        1392
      ],
      "webhookId": "f5907982-0651-43aa-80cc-4c3db85d123c",
      "credentials": {
        "telegramApi": {
          "id": "JZ6oVVsfs3AATIC3",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nreturn [{ json: { chat_id: d.chat_id, telegram_user: d.telegram_user,\n  respuesta: `⚠️ ${d.motivo}`, pantalla_actual: 'menu', paso_actual: '',\n  datos_parciales: JSON.stringify({ id_tutor: d.id_tutor, nombre_tutor: d.nombre_tutor }) } }];"
      },
      "id": "ed7c93e4-bf12-49c1-bb6a-6de146c789d3",
      "name": "Preparar Error Cancelar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        1632
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $input.first().json }];"
      },
      "id": "cbb4aaad-cdf5-4513-99d1-1646e7bb156a",
      "name": "Preparar Salida Tutor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        688
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.respuesta }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "4cb00032-b64c-4d26-8247-84e39cf72447",
      "name": "Enviar Respuesta Tutor",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1904,
        608
      ],
      "webhookId": "bb4b1014-cf47-4b29-8a98-123a84ce65e5",
      "credentials": {
        "telegramApi": {
          "id": "JZ6oVVsfs3AATIC3",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1HHuLoi-cLJtpQ9evuGu0qHDU9dBfRi_6eZsmCtnF2yk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "SESSIONS_TUTOR",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Preparar Salida Tutor').first().json.telegram_user }}",
            "pantalla_actual": "={{ $('Preparar Salida Tutor').first().json.pantalla_actual }}",
            "paso_actual": "={{ $('Preparar Salida Tutor').first().json.paso_actual }}",
            "datos_parciales": "={{ $('Preparar Salida Tutor').first().json.datos_parciales }}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "beb4ddc5-8942-4d35-a937-0fd26e760844",
      "name": "Guardar Sesion Tutor",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1888,
        816
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dbVVEcpRhIfV67L4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Cierra la sesion actual del tutor para poder entrar con otro ID\nconst d = $input.first().json;\nreturn [{ json: { chat_id: d.chat_id, telegram_user: d.telegram_user,\n  respuesta: '👋 Sesión cerrada.\\n\\nEscribe /start y luego tu ID de tutor para entrar con otra cuenta.',\n  pantalla_actual: '', paso_actual: '', datos_parciales: '{}' } }];"
      },
      "id": "7dbb0590-42a1-45cd-b1f3-ada35ec14c66",
      "name": "Cerrar Sesion Tutor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        1136
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Disparador de Telegram Tutor": {
      "main": [
        [
          {
            "node": "Normalizar Mensaje Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Mensaje Tutor": {
      "main": [
        [
          {
            "node": "Leer Sesion Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Sesion Tutor": {
      "main": [
        [
          {
            "node": "Motor de Estados Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Motor de Estados Tutor": {
      "main": [
        [
          {
            "node": "Rutas de Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rutas de Tutor": {
      "main": [
        [
          {
            "node": "Pedir ID Tutor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leer Tutor Por ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menu Tutor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leer Mis Tutorias Tutor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pedir ID Confirmar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leer Tutoria Confirmar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pedir ID Finalizar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leer Tutoria Finalizar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pedir ID Cancelar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leer Tutoria Cancelar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cerrar Sesion Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Tutor Por ID": {
      "main": [
        [
          {
            "node": "Verificar ID Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar ID Tutor": {
      "main": [
        [
          {
            "node": "Es ID Valido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es ID Valido": {
      "main": [
        [
          {
            "node": "Guardar Identificacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reintentar ID Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Mis Tutorias Tutor": {
      "main": [
        [
          {
            "node": "Formatear Mis Tutorias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Tutoria Confirmar": {
      "main": [
        [
          {
            "node": "Validar Confirmar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Confirmar": {
      "main": [
        [
          {
            "node": "Es Valido Confirmar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Valido Confirmar": {
      "main": [
        [
          {
            "node": "Marcar Confirmada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Error Confirmar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Confirmada": {
      "main": [
        [
          {
            "node": "Respuesta Confirmar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Confirmar": {
      "main": [
        [
          {
            "node": "Notificar Estudiante Confirmada",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Salida Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Tutoria Finalizar": {
      "main": [
        [
          {
            "node": "Validar Finalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Finalizar": {
      "main": [
        [
          {
            "node": "Es Valido Finalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Valido Finalizar": {
      "main": [
        [
          {
            "node": "Marcar Finalizada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Error Finalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Finalizada": {
      "main": [
        [
          {
            "node": "Liberar Horario Finalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Liberar Horario Finalizar": {
      "main": [
        [
          {
            "node": "Respuesta Finalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Finalizar": {
      "main": [
        [
          {
            "node": "Notificar Estudiante Finalizada",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Salida Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Tutoria Cancelar": {
      "main": [
        [
          {
            "node": "Validar Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Cancelar": {
      "main": [
        [
          {
            "node": "Es Valido Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Valido Cancelar": {
      "main": [
        [
          {
            "node": "Marcar Cancelada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Error Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Cancelada": {
      "main": [
        [
          {
            "node": "Liberar Horario Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Liberar Horario Cancelar": {
      "main": [
        [
          {
            "node": "Respuesta Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Cancelar": {
      "main": [
        [
          {
            "node": "Notificar Estudiante Cancelada",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Salida Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir ID Tutor": {
      "main": [
        [
          {
            "node": "Preparar Salida Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Identificacion": {
      "main": [
        [
          {
            "node": "Preparar Salida Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reintentar ID Tutor": {
      "main": [
        [
          {
            "node": "Preparar Salida Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu Tutor": {
      "main": [
        [
          {
            "node": "Preparar Salida Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Mis Tutorias": {
      "main": [
        [
          {
            "node": "Preparar Salida Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir ID Confirmar": {
      "main": [
        [
          {
            "node": "Preparar Salida Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Error Confirmar": {
      "main": [
        [
          {
            "node": "Preparar Salida Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir ID Finalizar": {
      "main": [
        [
          {
            "node": "Preparar Salida Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Error Finalizar": {
      "main": [
        [
          {
            "node": "Preparar Salida Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir ID Cancelar": {
      "main": [
        [
          {
            "node": "Preparar Salida Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Error Cancelar": {
      "main": [
        [
          {
            "node": "Preparar Salida Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Salida Tutor": {
      "main": [
        [
          {
            "node": "Enviar Respuesta Tutor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Guardar Sesion Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cerrar Sesion Tutor": {
      "main": [
        [
          {
            "node": "Preparar Salida Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fd57a900-5bfb-45c7-8b87-2aa8660a8a50",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49eac9d1126efb5cc6a710249ca438a26430b9ad0dab110cb3a04ef194331d64"
  },
  "nodeGroups": [],
  "id": "mMAAhEiDQOmihJfe",
  "tags": []
}